<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705536000&semt=ais" alt="" height="390px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent eleifend lobortis purus, eu vestibulum lorem tristique ac. Phasellus dignissim vehicula tristique.
        liquam sollicitudin molestie velit, eu sollicitudin lectus pharetra quis. Integer vel ligula nibh.
      </a>
    </p>
  </div>
</div>
